.git
.github
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.env
.env.*
docker-compose*.yml
docker/
.idea/
.vscode/
tests/
phpunit.xml
catatan.txt
ATTENDANCE_API_SETUP*.md
*/*.pdf
